/* ########      HEAD SECTION     ####### */

*{
    padding: 0;
    margin: 0
  }
body
{
  background: #FADCD9;
  background-size: cover;
  background-blend-mode:hue;
}

header{
	display: inline-flex;
	width:100%;
	
	background-color: #F79489;
}

.head h3{
	font: normal 75px 'Broadway', cursivei;
	color:  #591717;
	
	font-weight:250px;
	font-size:50px;
	margin-top: 5px;
	margin-left: 160px;
}


.head{
	box-sizing:border-box;
	height:70px;
	width:150%;
    margin-left:0px;
}
.head img
{
	width : 250px;
	height: 100px;
	margin-left: 365px;
    margin-top: -75px;
}

/* ########    END OF HEAD SECTION     ####### */

/* NAV SECTION */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  nav{
    background:#F8AFA6;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    height: 70px;
	width: 500px;
    padding: 0 100px;
	
  }

  nav .nav-items{
    display: flex;
    flex: 2;
    padding: 0 0 0 0px;
	margin-top: 15px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 10px;
  }
  nav .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items li a:hover{
    color: black;
  }

/* END OF NAV SECTION */
.skin{
  margin-left: 90px;
  font-size: 50px;
}
.imgs1{
    display: flex(5);
    margin-left: 20px;
    margin-right: 20px;
}
.imgs1 img {
    
   
    width: 17.75%;
    height: 250px;
}  
.imgs1 img:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    transition: 0.5s;
    box-shadow: 2px 2px 10px black;
}

.imgs2_Rs{
 
    display:inline-flex;
    margin-left:20px;
    
}
.imgs2_Rs h3{
  font-family: Arial, Helvetica, sans-serif;
}
.rs5{
  
  
  margin-left: 190px;
  
  
}
.rs4{
  
 
  margin-left: 190px;
 
}

.rs3{
  
  margin-left: 170px;
  
}
.rs2{
  
  margin-left: 170px;
  
}

.rs1{
  
  margin-left: 150px;
  
}

.imgs2{
    display: inline-flex;
}
.imgs2 img {
    
    width: 17.75%;
    height: 250px;
}  
.imgs2 img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
    box-shadow: 2px 2px 10px black;
}

/* Footer section  */


.new{
	background-color: #F9F1F0;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 30px 30px 60px 50px;
	margin-top: 100px;
    color: black;
}

.new h3{
	font: normal 50px 'Broadway', cursive;
	color:  #591717;
	
	font-weight:250px;
	font-size:50px;
	margin-top: 10px;
}
.new .footer-center p{

	padding: 10px;
}

.new .footer-center a{
	text-align: center;
	text-decoration: none;
	color: rgb(255, 102, 0);
	margin-top: 50px;
	padding: 50px;
}

.new .footer-icons i{
	
	
	color: rgb(255, 102, 0);
	font-size: 30px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	
	vertical-align: middle;

}